# Client
VITE_API_URL=http://localhost:5000/api/v1
# Server
PORT=5000
MONGODB_URI=mongodb://darshanbr36:<db_password>@cluster0-shard-00-00.wuehq.mongodb.net:27017,cluster0-shard-00-01.wuehq.mongodb.net:27017,cluster0-shard-00-02.wuehq.mongodb.net:27017/darshan-portfolio?ssl=true&replicaSet=atlas-epibxe-shard-0&authSource=admin&appName=Cluster0


CLIENT_URL=http://localhost:5173
JWT_SECRET=